extends layout/index-layout
block content
    .container
        .col-md-12
            .registration-block
                .row.form-title-row
                    h2 Создание аккаунта
                .row.row-input
                    input.reg-login(type='text', name='name', maxlength='10', placeholder='Логин')
                .row.row-input
                    input.reg-pass(type='password', name='name', maxlength='20', placeholder='Пароль')
                .row.row-input
                    input.reg-name(type='text', name='name', maxlength='15', placeholder='Имя')
                .row.row-input
                    input.reg-second-name(type='text', name='name', maxlength='15', placeholder='Фамилия')
                .row.row-input
                    input.reg-email(type='text', name='name', maxlength='15', placeholder='E-mail')
                .row.row-input
                    .signup-btn Регистрация