.header-container {
    /*margin-left: 40px;*/
    /*margin-right: 20px;*/
}

.header-topline {
    background-color: #43484C;
    padding: 10px 0;
    box-shadow: 0 1px 5px 1px #292a2a;
}

.header-topline a {
    color: #fff;
}

.top-links {
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
}

.top-links a {
    text-decoration: underline;
}

.top-links a:hover {
    text-decoration: none;
}

.login-field {
    vertical-align: middle;
    outline: none;
    border: 1px solid #7d8085;
    border-radius: 11px;
    background-color: #74777c;
    padding: 3px 18px;
    font-size: 13px;
    color: #fff;
    width: 122px;
    margin-left: 5px;
}

.btn-topline {
    /*margin-right: 15px;*/
    vertical-align: middle;
    border: medium none;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}



.btn-topline:hover {
    color: #b2b5bc;
}


.btn-topline:active {
    color: #9ca0a8;
}


.soc-buttons {
    float: right;
}

.soc-buttons a {
    font-size: 26px;
    margin-left: 8px;
}

.auth-btns, .main-menu-btn {
    border: medium none;
    background-color: transparent;
    font-size: 26px;
    color: #fff;
}


/*===================== Topline menu =====================*/
.topline-menu {
    background-color: #43484c;
    margin-top: -9px;
    margin-bottom: -9px;
    color: #fff;
    text-align: center;
}

.topline-menu a {
    /*border-left: 1px solid  #8b8c8d;*/

    vertical-align: middle;
    border: medium none;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    padding: 8px 20px;
    display: block;
    transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    -moz-transition: all .25s;
}

.btn-logout {
    /*border-right: 1px solid  #8b8c8d;*/
}

.topline-menu a:hover {
    background-color: #8b8c8d;
    text-decoration: none;
}

.topline-menu a:link {
    text-decoration: none;
}

.topline-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /*float: left;*/
    text-transform: uppercase;
    z-index: 12;
}

.topline-menu ul li {
    display: inline-block;
}

.topline-menu li.active > a {
    background-color: #8b8c8d;
}

/*===================================================*/