section(data-section-title="Направления исследований").directions.scrollable-section
    .container
        .directions-title
            | Направления исследований
        .col-md-12
            .row
                .col-md-4
                    .info-item
                        header.info-item-title
                            | Компьютерное зрение
                        .info-item-icon
                            i.fa.fa-eye
                        .info-item-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, eius.
                        .direct-btn
                            | Узнать больше
                .col-md-4
                    .info-item
                        header.info-item-title
                            | SLAM
                        .info-item-icon
                            i.fa.fa-cog
                        .info-item-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, eius.
                        .direct-btn
                            | Узнать больше
                .col-md-4
                    .info-item
                        header.info-item-title
                            | Что-нибудь еще
                        .info-item-icon
                            i.fa.fa-linux
                        .info-item-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, eius.
                        .direct-btn
                            | Узнать больше