section.main-gallery
    .container
        .col-md-12.gallery-img-lg-wrapper
            img(src="img/1.jpg").gal-img-lg
            .gal-btn-left
                i.fa.fa-angle-left
            .gal-btn-right
                i.fa.fa-angle-right

    .container
        .thumbs
            .thumbs-btn-left
            .thumbs-btn-right