section(data-section-title="Новости").main-content.scrollable-section#news
    .container
        .row
            .col-md-12
                .news-title
                    | Последние новости
            //.col-md-1
                .btn-all-articles
                    i.fa.fa-angle-double-right
    .container.news-container
    a(href="/articles").btn-all-articles
        i.fa.fa-angle-double-right