section.main-content
    .container
        .row
            .col-md-6
                .blog-item
                    .row
                        .col-md-5
                            .blog-item-title
                                h3 Заголовок статьи
                            img(src='/dist/img/1.jpg', alt='')
                        .col-md-5
                            .blog-item-text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores exercitationem unde veritatis distinctio non harum nemo natus animi voluptate atque.
            // col-md-6
            .col-md-6
                .blog-item
                    .row
                        .col-md-5
                            .blog-item-title
                                h3 Заголовок статьи
                            img(src='/dist/img/1.jpg', alt='')
                        .col-md-7
                            .blog-item-text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ipsam itaque odio ipsum, architecto dolores, iusto dolorum quia aliquid ea consequatur. Voluptates molestias nulla provident excepturi saepe doloremque
            // col-md-6
        // row
        .row
            .col-md-6
                .blog-item
                    .row
                        .col-md-5
                            .blog-item-title
                                h3 Заголовок статьи
                            img(src='/dist/img/1.jpg', alt='')
                        .col-md-5
                            .blog-item-text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat reiciendis ea ad recusandae, earum nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, illo.
            // col-md-6
            .col-md-6
                .blog-item
                    .row
                        .col-md-5
                            .blog-item-title
                                h3 Заголовок статьи
                            img(src='/dist/img/1.jpg', alt='')
                        .col-md-7
                            .blog-item-text
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ipsam itaque odio ipsum, architecto dolores
            // col-md-6
        // row
// main-content