textarea {
    width: 100%;
    resize: none;
    height: 500px;
}

textarea:active {
    outline: none;
}

textarea:focus {
    outline: none;
}

.control-container {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 145px;
    background-color: #4AAAD2;
}

.code-area {
    width: 100%;
    height: 600px;
    box-shadow: 0 0 1px 1px #171717;
}

.editor-panel {
    border-radius: 3px 3px 0 0;
    padding: 10px;
    background-color: #3c3f41;
    text-align: right;
    border-bottom: 1px solid #171717;
    box-shadow: 0 0 1px 1px #171717;
}

.editor-prop {
    display: inline-block;
    padding: 4px;
    /*right: 10px;*/
}

.editor-bottom-panel {
    border-radius: 0 0 3px 3px;
    padding: 10px;
    background-color: #3c3f41;
    text-align: right;
    /*border-top: 1px solid #171717;*/
    box-shadow: 0 0 1px 1px #171717;
}

.video-panel {
    border-radius: 3px 3px 0 0;
    padding: 10px;
    background-color: #3c3f41;
    text-align: left;
    border-bottom: 1px solid #171717;
    box-shadow: 0 0 1px 1px #171717;
}

.video-area {
    height: 500px;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px #171717;
}

.select-clients {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.select-devices {
    float: right;
    margin-top: 5px;
    display: none;
}

.message-container {
    display: none;
    margin-top: 62px;
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: 999;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 5px 1px #4f4f4f;
}

.message-success {
    background-color: #03ad70;
    color: #fff;
}

.message-error {
    background-color: #ff5e5e;
    color: #fff;
}

.log-container {
    max-height: 100px;
    background-color: #272822;
    padding: 10px;
    font-size: 12px;
    color: #5e5e5e;
    overflow-x: auto;
    border-radius: 0 0 3px 3px;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px #171717;

}

.log-line-success {
    color: #039661;
}

.log-line-error {
    color: #f42c2c;
}

/* ====================================== */
/*               Code control
/* ====================================== */

.theme-select {
    margin-right: 15px;
}

.panel-info {
    color: #aeaeae;
    font-size: 13px;
    margin-right: 5px;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    border: medium none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn-icon:hover {
    color: #b2b5bc;
}

.btn-icon:active {
    color: #9ca0a8;
}

.btn-gamepad {
    display: inline-block;
    float: left;
    /*margin-left: 0;*/
    /*left: 10px;*/
}


.btn-compile {
    display: inline-block;
    padding: 7px;
    border: none;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    background-color: #00cd83;
}

.btn-compile:hover {
    background-color: #03faa1;
}

.btn-compile:active {
    background-color: #03ad70;
}

.file-loader-btn {
    border: medium none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    float: left;
    display: inline-block;
}

.file-loader-btn:hover {
    color: #b2b5bc;
}

.file-loader-btn:active {
    color: #9ca0a8;
}

.file-loader-input {
    margin-top: 6px;
    width: 230px;
    font-size: 15px;
    color: #fff;
    float: left;
    cursor: pointer;
}

input[type=file] {
    line-height: 10px;
    display: none;
}

/* ====================================== */
/*               Gamepad
/* ====================================== */

.gamepad-container {
    display: none;
    padding-top: 100px;
    /*padding-bottom: 50px;*/
}


.gamepad-btn {
    margin-top: 20px;
    width: 100px;
    /*height: 200px;*/
    padding: 10px;
    font-size: 56px;
    text-align: center;
    color: #fff;
    background: #7dd174;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #5c5c5c;
    cursor: pointer;
    transition: all ease-in .2s;
}

.gamepad-btn:hover {
    background-color: #bde4b9;
}

.gamepad-btn:active {
    background-color: #88e27e;
}

.btn-up, .btn-down {
    margin: 0 auto;
}

.btn-left {
    display: inline-block;
}

.btn-right {
    display: inline-block;
    float: right;
}

.left-right-container {
    width: 350px;
    margin: 0 auto;
}

/* ========================================
//              Spinner compile
// ===================================== */


.cssload-jumping{
    position:relative;
    display: inline-block;
    /*margin: 97px auto;*/
    top: 5px;
    height: 29px;
    width:107px;
    vertical-align: middle;
}

.cssload-jumping, .cssload-jumping * {
    box-sizing: border-box;
}

.cssload-jumping span {
    display: inline-block;
    height: 15px;
    width: 15px;
    /*background: rgb(255,255,255);*/
    background: #05c9ef;
    border-radius: 487px;
    background-clip: padding-box;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
    animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
    animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
    animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
    animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
    animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0.9, 0.9);
        background: #05c9ef; /*rgb(147,225,215); */
    }
    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        transform: scale(0);
    }
}

@-o-keyframes scale {
    0% {
        -o-transform: scale(0);
    }
    25% {
        -o-transform: scale(0.9, 0.9);
        background: #05c9ef; /*rgb(147,225,215); */
    }
    50% {
        -o-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -o-transform: scale(0);
    }
}

@-ms-keyframes scale {
    0% {
        -ms-transform: scale(0);
    }
    25% {
        -ms-transform: scale(0.9, 0.9);
        background: #05c9ef; /*rgb(147,225,215); */
    }
    50% {
        -ms-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -ms-transform: scale(0);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0.9, 0.9);
        background: #05c9ef; /*rgb(147,225,215); */
    }
    50% {
        -webkit-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(0);
    }
    25% {
        -moz-transform: scale(0.9, 0.9);
        background: #05c9ef; /*rgb(147,225,215); */
    }
    50% {
        -moz-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -moz-transform: scale(0);
    }
}
