doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='dist/css/media/index.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='dist/css/index/main.min.css')
        link(rel='stylesheet', href='/bower_components/hint.css/hint.min.css')
body
    header.top-header
        include ../partials/header/topline
    block content
    include  ../partials/footer/footer
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/dist/js/base/main.js')
    script(src='/bower_components/ace-builds/src-noconflict/ace.js')
    script(src='/bower_components/ace-builds/src-noconflict/ext-language_tools.js')
    script(src='/dist/js/control/control.js')