.container.header-menu-container
    .col-md-12
        .row
            a.logo(href='#') robolab
            nav.main-menu.clearfix
                button.main-menu-btn.hidden-md.hidden-lg.hidden-sm
                    i.fa.fa-bars
                ul
                    li.active
                        a(href='/') Новости
                    li
                        a(href='#') Направления
                    li
                        a(href='#') Галерея
                    li
                        a(href='#') Контакты
            h1 Лаборатория робототехники и искуственного интеллекта
            .slider-container
                .next-btn
                    i.fa.fa-angle-right
                .prev-btn
                    i.fa.fa-angle-left
                .carousel
                    .slide-item
                        img(src='/dist/img/4.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/2.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/3.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/4.jpg', alt='')