.container.header-menu-container
    .col-md-12
        .row
            a.logo(href='#') robolab
            nav.main-menu.clearfix
                button.main-menu-btn.hidden-md.hidden-lg.hidden-sm
                    i.fa.fa-bars
                ul
                    li.active
                        a.menu-link(href='#scrollto-section-1') Новости
                    li
                        a.menu-link(href='#scrollto-section-2') Направления
                    li
                        a.menu-link(href='#scrollto-section-3') Галерея
                    li
                        a.menu-link(href='#scrollto-section-4') Контакты
            h1 Лаборатория искуственного интеллекта и робототехники
            .slider-container
                .next-btn
                    i.fa.fa-angle-right
                .prev-btn
                    i.fa.fa-angle-left
                .carousel
                    .slide-item
                        img(src='/dist/img/4.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/2.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/3.jpg', alt='')
                    .slide-item
                        img(src='/dist/img/4.jpg', alt='')