.header-topline
    .container
        .col-md-12
            .row
                button.auth-btns.hidden-md.hidden-lg.hidden-sm
                    i.fa.fa-user
                .top-links
                    if !auth
                        input.login-field.login(type = 'text' placeholder='Login')
                        input.login-field.password(type = 'password' placeholder='Password')
                        span.hint--bottom(data-hint='Войти')
                            button.btn-topline.btn-login(alt = 'Войти')
                                i.fa.fa-arrow-circle-right

                        span.hint--bottom(data-hint='Регистраниция')
                            button.btn-topline.btn-registration(alt = 'Регистрация')
                                i.fa.fa-user-plus
                    else
                        nav.topline-menu
                            ul
                                li
                                    span.hint--bottom(data-hint='Главная')
                                        a.btn-home(href="/")
                                            i.fa.fa-home
                                li
                                    span.hint--bottom(data-hint='Профиль')
                                        a.btn-profile(href="#")
                                            i.fa.fa-user
                                li
                                    span.hint--bottom(data-hint='Удаленный доступ')
                                        a.btn-drive(href="/device")
                                            i.fa.fa-globe
                                li
                                    span.hint--bottom(data-hint='Выход')
                                        a.btn-logout(href="#")
                                            i.fa.fa-sign-out
                .soc-buttons
                    a(href='#')
                        i.fa.fa-vk
                    a(href='#')
                        i.fa.fa-twitter
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        auth

