.header-topline
    .container
        .col-md-12
            .row
                button.auth-btns.hidden-md.hidden-lg.hidden-sm
                    i.fa.fa-user
                .top-links
                    input.login-field(type = 'text' placeholder='Login')
                    input.login-field(type = 'password' placeholder='Password')
                    button.btn-login(alt = 'Войти')
                        i.fa.fa-arrow-circle-right
                    button.btn-registration(alt = 'Регистрация')
                        i.fa.fa-user-plus
                .soc-buttons
                    a(href='#')
                        i.fa.fa-vk
                    a(href='#')
                        i.fa.fa-twitter
                    a(href='#')
                        i.fa.fa-facebook